*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* main div  */
body{
    background: linear-gradient(to right, rgba(0, 0, 255, 0.333), rgba(255, 0, 0, 0.446), rgba(0, 0, 255, 0.541));
}

/*first div*/
.main{
        border-radius:10px;
}
.img{
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    z-index: -1;
    border-top: 10px;
}

img{
    width: 270px;
}

/*second div*/
.content{
    width: 270px;
    height: 380px;
    background: white;
    padding: 10px 10px 10px 20px;
    margin-top: -158px;
    margin-left: 20px;
    position: absolute;
    z-index: 5;
}
.one{
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.492);
    padding-top: 10px;
}
.two{
    font-size: 35px;
    text-transform: capitalize;
    padding: 20px 0px 20px 0px;
    line-height: 30px;
    flex-wrap: wrap;
}
.three{
    color: rgba(0, 0, 0, 0.511);
    font-size: 15px;
    padding: 0px 0px 10px;
    flex-wrap: wrap;
    margin-top: 0px;
    line-height: 23px;
}
.four{
    color: green;
    padding: 0px 0px 10px 0px;
    margin-top: 0px;
}
.five{
    font-size: 15px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.452);
    text-decoration: line-through;
}
.cart{
    width: 15px;
    display: flex;
    float: left;
    margin: 0px 3.6px;
}
.a-t-c{
    margin: auto 0;
    display: flex;
    float: right;
}
.button{
    background: green;
    color: white;
    padding: 10px 65px 10px 65px;
    border: green;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.button:hover{
    background: rgb(2, 18, 2);
    cursor: grab;
}

@media screen and (min-width: 900px)
{
    

/* main div  */
body{
    background: linear-gradient(to right, rgba(0, 0, 255, 0.333), rgba(255, 0, 0, 0.446), rgba(0, 0, 255, 0.541));
}

/*first div*/
.img{
    border-radius: 10px;
    overflow: hidden;
    float: left;
    margin-top: 120px;
    margin-left: 435px;
    position: relative;
}

img{
    width: 265px;
}

/*second div*/
.content{
    width: 270px;
    height: 400px;
    background: white;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    float: right;
    margin-top: 120px;
    margin-right: 400px;
    margin-left: -500px;
    flex-shrink: initial;
    position: static;
}
.one{
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.492);
    padding-top: 10px;
}
.two{
    font-size: 35px;
    text-transform: capitalize;
    padding: 20px 0px 20px 0px;
    line-height: 30px;
    flex-wrap: wrap;
}
.three{
    color: rgba(0, 0, 0, 0.511);
    font-size: 15px;
    padding: 0px 0px 10px;
    flex-wrap: wrap;
    margin-top: 0px;
    line-height: 23px;
}
.four{
    color: green;
    padding: 0px 0px 10px 0px;
    margin-top: 0px;
}
.five{
    font-size: 15px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.452);
    text-decoration: line-through;
}
.cart{
    width: 15px;
    display: flex;
    float: left;
    margin: 0px 3.6px;
}
.a-t-c{
    margin: auto 0;
    display: flex;
    float: right;
}
.button{
    background: green;
    color: white;
    padding: 10px 65px 10px 65px;
    border: green;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.button:hover{
    background: rgb(2, 18, 2);
    cursor: grab;
}
}