*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(184, 184, 236);
}
/*main div*/
.main{
    background: rgba(255, 255, 255, 0.711);
    width: 410px;
    height: 660px;
    flex-shrink: inherit;
}

/* first div */
.img{
        width: 350px;
        border-radius: 10px 10px 0px 0px;
        margin-top: 10px;
        margin-left: 28px;
}
/*second div*/
.content{
    background: white;
    border-radius: 0px 0px 10px 10px;
    height: 380px;
    width: 350px;
    margin-left: 28px;
    margin-bottom: 10px;
}

.one{
    text-transform: uppercase;
    padding-top: 24px;
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.42);
    letter-spacing: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two{
    text-transform: capitalize;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 30px;
}

.three{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 01.2rem;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.368);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.four{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 2rem;
    color: green;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.five{
    position: absolute;
    padding-left: 20px;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.375);
    text-decoration: line-through;
    padding-top: 10px;
}
/* button styles */
.btn{
    background: green;
    border: green;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 1px;
    padding-right: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    overflow: hidden;
}
.cart{
    size: 20px;
    margin-right:0px;
    margin-left: 90px;
}
.a-t-c{
    float: right;
    position: absolute;
    margin-left: 10px;
}
.btn:hover{
    background: rgb(59, 99, 59);
    cursor:pointer;
}